
.item {
    width: 230px;
    height: 320px;
    border: 0.5px solid rgb(196, 196, 196);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.item a {
    text-decoration: none;
    color: inherit;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.item img {
    width: 120px;
}

.item h3 {
    font-size: 1.1rem;
    min-height: 48px;
    margin-bottom: 12px;
    font-weight: 400;
}

.item p {
    margin: 6px 0px;
}

.item-prices {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.item-price-new {
    color: rgb(14, 14, 14);
    font-size: 18px;
    font-weight: 600;
}


.item-price-old {
    color: rgb(255, 0, 0);
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
}


@media (max-width: 768px) {
    .item {
        width: 70%;
        height: auto;
    }

    .item img {
        width: 180px;
        max-width: 250px;
        height: auto;
    }

    .item-prices {
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .shop-category-products {
        grid-template-columns: 1fr;
        margin: 20px 20px;
        justify-items: center;
        align-items: center;
    }

    .item {
        width: 70%;
        padding: 12px;
    }

    .item-price-new,
    .item-price-old {
        font-size: 16px;
    }
}