.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px 60px 16px 60px;
    box-shadow: 0 1px 3px -2px #202020;

}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 80px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

/* Hide the menu items by default for mobile */
.nav-menu {
    display: flex;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    transform: translateY(+3px);
}

.nav-menu li:hover {
    color: #007AFF;
    transform: scale(1.1);
}

.nav-menu li:active {
    color: #007AFF;
    transform: scale(0.95);
}

.nav-link {
    text-decoration: none;
    color: #202020;
}

.nav-link:visited {
    color: #202020;
}

.nav-link:hover {
    color: #007bff;
}

.nav-menu hr {
    height: 3px;
    border: none;
    border-radius: 10px;
    background-color: #007AFF;
    transition: width 0.4s ease;
    width: 0%;
}

.nav-menu li:hover hr {
    width: 80%;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 25px;
}

.login-form-btn {
    width: 130px;
    height: 50px;
    outline: none;
    border: 0px;
    border-radius: 75px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: #007AFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-form-btn:hover {
    border: 1px solid #202020;
    background: white;
    color: #007AFF;
    transform: translateY(-3px);
}

.login-form-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 122, 255, 0.2);
}

.signup-form-btn {
    width: 130px;
    height: 50px;
    outline: none;
    border: 1px solid #202020;
    border-radius: 75px;
    color: #007AFF;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.signup-form-btn:hover {
    border: 1px solid #202020;
    background: #007AFF;
    color: white;
    transform: translateY(-3px);
}

.signup-form-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 122, 255, 0.2);
}

.profile-cart {
    width: 50px;
}

.user-info {
    display: flex;
    gap: 15px;

}

.profile-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.welcome-text {
    padding-top: 5px;
    margin-right: 12px;
    font-weight: 500;
    color: #333;
    font-size: 20px;
}

.logout-btn {
    padding: 10px 15px;
    font-size: 0.9rem;
    background: #007AFF;
    color: white;
    border: none;
    border-radius: 75px;
    cursor: pointer;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -35px;
    border-radius: 11px;
    font-size: 14px;
    background-color: #FF3B30;
    color: white;
}

/* Hamburger base styles */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
    padding: 10px;
}

.hamburger-login-btn {
    display: none;
}

.hamburger-login-item {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        padding: 16px;
        width: 95%;
        position: fixed;
        background-color: white;
        z-index: 1000;
        top: 0;
    }

    .user-info {
        display: none;
    }

    .nav-login-cart button {
        display: none;
    }

    .nav-login-cart {
        margin-top: 10px;
        padding: 0 0 0 40px;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #202020;
        opacity: 0.9;
        width: 220px;
        padding-top: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    }

    .nav-menu li {
        color: white;
        padding: 10px 0px;
    }

    .nav-menu .nav-link {
        color: white;
        text-decoration: none;
    }

    .nav-menu .nav-link:hover {
        color: #007bff;
    }

    .nav-menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hamburger-login-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger-login-item button {
        max-width: 200px;
        text-align: center;
        font-size: 18px;
        width: 150px;
        margin-top: 10px;

    }

    .mobile-login-button {
        display: block;
        margin-top: 20px;
    }

    .nav-login-desktop {
        display: none;
    }

}

@media (max-width: 480px) {
    .nav-menu li {
        font-size: 18px;
    }

    .nav-menu.active {
        width: 100%;
        right: 0;
    }

    .nav-login-cart img {
        width: 24px;
    }

    .login-form-btn {
        z-index: 1000;
    }

    .signup-form-btn {
        z-index: 1000;
    }
}