.shop-category {
    margin-top: 40px;
}

.shop-category button {
    padding: 15px 25px;
    border-radius: 25px;
    border: 1px solid;
    background-color: white;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.shop-category button:hover {
    background-color: #007AFF;
    color: white;
    cursor: pointer;
    border: 1.5px solid black;
}

.shopcategory-indexSort {
    display: flex;
    margin: 0px 230px;
    justify-content: space-between;
    align-items: center;

}

.shopcategory-sort-wrapper {
    position: relative;
    display: inline-block;
}

.shopcategory-sort-button {
    cursor: pointer;
}

.sort-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    background: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.shopcategory-sort-wrapper:hover .sort-dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.sort-dropdown-menu p {
    margin: 0;
    padding: 8px 12px;
    cursor: pointer;
}

.sort-dropdown-menu p:hover {
    background-color: #f0f0f0;
    color: #007AFF;
}

.shopcategory-indexSort p span {
    font-weight: 600;
}

.loading-spinner {
    text-align: center;
    margin: 50px 100px 100px 100px;
    font-size: 18px;
    color: #007AFF;
    
}

.shop-category-products {
    margin: 20px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
}

@media (min-width: 1600px) {
  .shop-category-products {
    margin: 20px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px; 
  }
}

@media (max-width: 1024px) {
    .shop-category-products {
        grid-template-columns: repeat(3, 1fr);
        margin: 20px 80px;
    }

    .item {
        height: 300px;
    }

    .item img {
        width: 100px;
    }

    .shopcategory-indexSort {
        margin: 0px 80px;
    }

    .shopcategory-sort img {
        padding: 10px;
    }
}


@media (max-width: 768px) {
    .shop-category-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 40px;
        align-items: center;
    }

    .item {
        height: 300px;
    }

    .item img {
        width: 100px;
    }

    .shopcategory-indexSort {
        flex-direction: column;
        gap: 10px;
        margin: 0px 40px;
        padding: 10px;
    }

}


@media (max-width: 480px) {
    .shop-category-products {
        grid-template-columns: 1fr;
        margin: 20px 20px;
        justify-content: center;
        align-items: center;
    }

    .item {
        height: 400px;
    }

    .item img {
        width: 100px;
    }

    .shopcategory-indexSort {
        margin: 0px 20px;
    }

    .shopcategory-sort {
        width: 50%;
        text-align: center;
    }
}